.main-container{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
#title {
    position  : absolute:
    left      : 500px;
}
.parent-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
.image-main-container{
    padding: 5px;
}
.image-conatiner{
    border: 1px solid #807f7f;
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
}
.image-conatiner > img{
    height: inherit;
    width: inherit;
}

.label-container{
    text-align: center;
}

.head-title{
    text-align: center;
}
.canvas-main-container{
    margin-top: 30px;
    padding: 15px;
    display: flex;
}
.canvas-main-container > div {
    min-width: 33%;
}
.canvas-container{

}
#paint {

}
.actions-buttons{
    padding-top: 10px;
}
#save{
    background: #358128;
    color     : #f3f3f3;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}
#resettool {
    background: #358128;
    color     : #f3f3f3;
    height    : 25px;
    border    : 1px solid #33842a;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}
#resultHolder{

}
#divClassTable{

}