{% extends "base.html" %}
{% block content %}
    <div class="main-container">
        <h2 class="head-title">
            Nepali Digit Recognize
        </h2>
        <div class="parent-image-container">
        {% if image_data %}
            {% for items in image_data %}
            <div class="image-main-container">
                <div class="image-conatiner">
                    <img src={{ items.image_path }}>
                </div>
                <div class="label-container">
                    <spam> {{ items.image_name }}</spam>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="canvas-main-container">
            <div class="canvas-container">
                 <canvas id="paint" width="150" height="150" style="border: 5px solid #000000;"></canvas>
                <div class="actions-buttons">
                <button id="save" onclick="identify()">Identify</button>
                <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>
            </div>
            </div>
            <div class="result-container">
                <div id="result-image-holder" class="image-conatiner"></div>
                <h1 id="resultHolder"> </h1>
            </div>
            <div class="predict-table-container">
                <div id="divClassTable">
                <table>
                <tr>
                    <th> Number </th>
                    <th> Probability Score </th>
                </tr>
                <tr>
                    <td> Zero </td> <td id="score_zero"></td>
                </tr>
                <tr>
                    <td> One </td> <td id="score_one"></td>
                </tr>
                <tr>
                    <td> Two </td> <td id="score_two"></td>
                </tr>
                <tr>
                    <td> Three </td> <td id="score_three"></td>
                </tr>
                <tr>
                    <td> Four </td> <td id="score_four"></td>
                </tr>
                <tr>
                    <td> Five </td> <td id="score_five"></td>
                </tr>
                <tr>
                    <td> Six </td> <td id="score_six"></td>
                </tr>
                <tr>
                    <td> Seven </td> <td id="score_seven"></td>
                </tr>
                <tr>
                    <td> Eight </td> <td id="score_eight"></td>
                </tr>
                <tr>
                    <td> Nine </td> <td id="score_nine"></td>
                </tr>
            </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
